[submodule "lib/soil_moisture"]
	path = lib/soil_moisture
	url = git@github.com:m0by314/arduino_lib_soil_moisture_sensor.git
[submodule "lib/ifttt"]
	path = lib/ifttt
	url = git@github.com:m0by314/arduino_lib_ifttt.git
[submodule "arduino_lib_ifttt"]
	path = arduino_lib_ifttt
	url = git@github.com:m0by314/arduino_lib_ifttt.git
